@charset"UTF-8";

body {    
    
}
h1 {
    position:fixed;
    font:40px Modern;
    font-stretch:ultra-expanded-expanded;
    width:fit-content;
    margin-top:2px;
    margin-left:60px;
    padding:3px;
    border:10px double black;
    background-color:white;
}

div.header {
    position:fixed;
    width:fit-content;
    height:fit-content;
    margin-left: 5px;
    margin-top:90px;
    padding:15px;
    border:10px double black;
    background-color:white;
    font:bold 20px Modern;
}
div.errorMessages {
    width:fit-content;
    margin-top:1px;
    
    font:bold 20px Modern;
}
li {
    margin-right:20px;
}
a.message {
    display:block;
    width:fit-content;
    padding:3px;
    border:5px outset lightgray;
    background-color:black;
    font:bold 20px Modern;
    color:white;
}
a.message:hover {
    font:bold 20px Modern;
    color:black;
    background-color:white;
}

a.usersetting {
    display:block;
    width:fit-content;
    padding:3px;
    border:5px outset lightgray;
    background-color:black;
    font:bold 20px Modern;
    color:white;
}
a.usersetting:hover {
    font:bold 20px Modern;
    color:black;
    background-color:white;
}
input.searchCategory {
    width:17em;
    height:20px;
    font:bold 10px Modern;  
}
input.startDate {
    width:170px;
    height:20px;
    font:bold 15px Modern;
}
input.endDate {
    width:170px;
    height:20px;
    font:bold 15px Modern;
}
input.search {
    font:bold 20px Modern;
    padding:3px 8px 3px 8px;
    background-color:black;
    border:5px outset lightgray;
    color:white;
}
input.search:hover {
    font:bold 15px Modern;
    color:black;
    background-color:white;
}
a.reset {
    display:block;
    width:fit-content;
    padding:3px;
    border:5px outset lightgray;
    background-color:black;
    font:bold 13px Modern;
    color:white;
}
a.reset:hover {
    font:bold 20px Modern;
    color:black;
    background-color:white;
}

a.logout {
    display:block;
    position:fixed;
    width:fit-content;
    height:fit-content;
    margin-left: 60px;
    margin-top:550px;
    padding:5px;
    border:8px outset lightgray;
    background-color:black;
    font:bold 20px Modern;
    color:white;
}
a.logout:hover {
    border:10px outset silver;
    background-color:white;
    color:black;
}

div.messages {
    float:right;
    width:75%;
    margin-top:10px;
    padding:15px;
    border:10px double black;
    background-color:white;

}

div.title {
    font:bold 30px Modern;
    margin-top:5px;
    border-bottom:2px solid black;
    display:inline-block;
    padding:5px 5px;

}

div.category {
    margin-top:5px;
    padding:5px 5px;
    border-bottom:2px solid black;
    display:inline-block;
    font:bold 20px Imapct;
   
}
div.text {
    margin-top:5px;
    padding:10px 5px;
    border:3px solid black;
    font:bold 15px Modern;
}
div.date {
    text-align:right; 
    font-family:Modern;  
}
div.name {
    text-align:right;
    font-family:Modern;
}
div.messageDelete {
    text-align:right;
    
}
div.comments {
    font:bold 15px Modern;
    
}
div.commentDelete {
    font-family:Modern;
}
div.comment {
    border-bottom:dotted black;
    font-family:Modern;
}
input.submit {
    font:bold 15px Modern;
    border:3px outset lightgray;
    color:white;
    background-color:black;
}
input.submit:hover {
    font:bold 15px Modern;
    border:3px outset silver;
    background-color:white;
    color:black;
    
}