@charset"UTF-8";

div.main-contents {
    width:fit-content;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border:10px double black;
    padding:15px;
    font:bold 20px Modern;
}
div.errorMessages {
    margin: auto;
    width:100%;
}

input.login_id {
    width:20em;
    font:bold 15px Modern;
}
input.password {
    width:20em;
    font:bold 15px Modern;
}
input.submit {
    margin-left:180px;
    font:bold 15px Modern;
    border:5px outset lightgray;
    color:white;
    background-color:black;
}
input.submit:hover {
    border:5px outset silver;
    background-color:white;
    color:black;
}