
h1 {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    font:bold 30px Modern;
}
div.main-contents {
    width:fit-content;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border:10px double black;
    padding:15px;
    font:bold 20px Modern;
}

input.title {
    width:30em;
}

input.category {
    width:10em;
}
input.submit {
    font:bold 15px Modern;
    border:5px outset lightgray;
    color:white;
    background-color:black;
}
input.submit:hover {
    border:5px outset silver;
    background-color:white;
    color:black;
}
a.return {
    display:block;
    width:2em;
    padding:2px 6px 2px 6px;
    margin-left:675px;
    font:bold 15px Modern;
    border:5px outset lightgray;
    color:white;
    background-color:black;
}
a.return:hover {
    font:bold 15px Modern;
    border:5px outset silver;
    background-color:white;
    color:black;
}