@CHARSET "UTF-8";


h1 {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    font:bold 30px Modern;
    
}
div.main-contents {
    width:500px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border:10px double black;
    padding:15px;
    font:bold 20px Modern;
    

}
input.login_id {
    width:20em;
    font:bold 20px Modern;
}

input.password {
    width:20em;
    font:bold 20px Modern;
}

input.passwordConfirm {
    width:20em;
    font:bold 20px Modern;
}

input.name {
    width:10em;
    font:bold 20px Modern;
}
input.submit {
    font:bold 20px Modern;
    border:5px outset lightgray;
    color:white;
    background-color:black;
}
input.submit:hover {
    border:5px outset silver;
    background-color:white;
    color:black;
}
select {
    font:bold 20px Modern;

}
a.return {
    display:block;
    width:2em;
    padding:2px 6px 2px 6px;
    margin-left:430px;
    font:bold 20px Modern;
    border:5px outset lightgray;
    color:white;
    background-color:black;
}
a.return:hover {
    border:5px outset silver;
    background-color:white;
    color:black;
}