@charset"UTF-8";

h1 {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    font:bold 30px Modern;

}
a.userregister {
    display:block;
    width:fit-content;
    margin-left:135px;
    font:bold 20px Modern;
    border:3px outset lightgray;
    padding:5px;
    background-color:black;
    color:white    
}
a.return {
    display:block;
    width:fit-content;
    margin-left:1150px;
    font:bold 20px Modern;
    border:3px outset lightgray;
    padding:5px;
    background-color:black;
    color:white    
}
table {
    border:solid 3px black;
    font:bold 20px Modern;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    text-align:center;
    vertical-align:center;
}
th {
    border-bottom:double; 
}
td {
   
}
.userInvalid {
    
    font:bold 20px black;
    border:3px outset lightgray;
    background-color:black;
    color:white    
}
.userInvalid:hover {
    border:3px outset silver;
    background-color:white;
    color:black;
}
.userValid {
    margin-left:25px;
    font:bold 20px black;
    border:3px outset lightgray;
    background-color:white;
    color:black;    
}
.userValid:hover {
     border:3px outset silver;
    background-color:black;
    color:white;
}
a.useredit {
    border:3px outset lightgray;
    padding:5px;
    background-color:black;
    color:white    
}
a.useredit:hover {
    border:3px outset silver;
    background-color:white;
    color:black;
}
